section.team-testimonials {
  text-align: center;

  .section-inner {
    max-width: 1296px;
    margin: 0 auto;

    hr {
      margin-bottom: 30px;
    }

    h1 {
      margin-bottom: 20px;
      color: $primary;
    }

    .slider-outer {
      @include slider-arrow($grey-5, $primary, $primary, white);

      position: relative;

      .wmb-slider-controls {
        display: block;
        position: absolute;
        z-index: 200;
        top: 19%;

        &.prev {
          left: 0;
        }

        &.next {
          right: 0;
        }
      }

      .team-testimonials-slider {
        @include slider-dots($grey-58, $primary);

        padding-bottom: 38px;
        margin-bottom: 29px;

        .slick-list {
          .slick-track {
            .testimonial {
              margin: 0 30px;
              display: flex;
              flex-direction: column;
              align-items: center;

              .quote {
                font-weight: 200;
                font-style: italic;
                font-size: 16px;
                color: $grey-65;
                line-height: 1.5;
                max-width: 800px;
                margin: 0 auto 18px;
              }

              .attribution {
                color: $grey-58;
                font-size: 12px;
                text-transform: uppercase;
              }
            }
          }
        }

        .slick-dots {
          bottom: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 63px;

    .section-inner {
      hr {
        margin-bottom: 62px;
      }

      h1 {
        margin-bottom: 35px;
      }

      .slider-outer {
        .wmb-slider-controls {
          &.prev {
            left: -20px;
          }

          &.next {
            right: -20px;
          }
        }

        .team-testimonials-slider {
          padding-bottom: 48px;
          margin-bottom: 46px;

          .slick-list {
            .slick-track {
              .testimonial {
                .quote {
                  font-size: 20px;
                  margin: 0 auto 27px;
                }
              }
            }
          }
        }
      }
    }
  }
}
