section.wmb-difference {
  text-align: center;
  margin-bottom: 25px;

  .section-inner {
    max-width: 1296px;
    margin: 0 auto;

    hr {
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 30px;
      font-weight: 200;
      color: $primary;
    }

    .items {
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      .item {
        flex: 0 0 100%;
        padding: 0;
        margin-bottom: 30px;
        text-align: left;

        .item-thumbnail {
          @include image-cover(75%);

          width: 100%;
          margin-bottom: 20px;
        }

        h3 {
          color: $primary;
          margin-bottom: 10px;
        }

        p {
          margin: 0;
          color: $grey-65;
          font-weight: 200;
          line-height: 1.75;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .section-inner {
      .items {
        margin: 0 -12px;
        justify-content: space-between;

        .item {
          flex: 0 0 50%;
          padding: 0 12px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 53px;

    .section-inner {
      hr {
        margin-bottom: 63px;
      }

      h2 {
        margin-bottom: 41px;
      }

      .items {
        .item {
          flex: 0 0 33.3333%;
          margin-bottom: 0;

          .item-thumbnail {
            margin-bottom: 22px;
          }

          h3 {
            margin-bottom: 16px;
          }

          p {
            line-height: 2;
          }
        }
      }
    }
  }
}
