section.contact-main {
  text-align: left;
  padding-bottom: 35px;

  .contact-outer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1296px;
    margin: 0 auto;

    .contact-form-container {
      order: 2;
      flex: 0 0 100%;
      background-color: $grey-5;
      padding: 30px 20px;

      h2 {
        font-weight: 200;
        color: $primary;
        margin-bottom: 40px;
      }

      .wpcf7 {
        form {
          padding: 0;

          .form-group {
            margin-bottom: 15px;

            label {
              font-size: 14px;
              color: $grey-65;
              margin-bottom: 0;
            }

            .wpcf7-form-control-wrap {
              .form-control {
                border: 0;
                height: 30px;
              }

              .wpcf7-checkbox {
                .wpcf7-list-item {
                  display: inline-flex;
                  align-items: center;
                  margin-left: 0;
                  margin-right: 20px;

                  &:last-child {
                    margin-right: 0;
                  }

                  input[type=checkbox] {
                    position: relative;
                    -webkit-appearance: none;
                    width: 20px;
                    height: 20px;
                    border: 0;
                    border-radius: 20px;
                    margin-right: 10px;
                    background-color: white;
                    cursor: pointer;

                    &:checked {
                      border: solid 4px white;
                      background-color: $grey-33;
                    }
                  }

                  .wpcf7-list-item-label {
                    font-size: 14px;
                    font-weight: 200;
                    color: $grey-65;
                  }
                }
              }
            }

            .how-can-we-help {
              textarea {
                height: 100px;
                margin-bottom: 20px;
              }
            }
          }

          .wpcf7-submit {
            width: 196px;
            height: 40px;
            font-size: 14px;
          }

          .wpcf7-response-output {
            margin: 2em 0 0;
            text-align: center;
          }
        }
      }
    }

    .contact-info-container {
      order: 1;
      flex: 0 0 100%;
      margin-bottom: 40px;

      .location-map {
        margin-bottom: 24px;

        .map-container {
          position: relative;
          width: 100%;

          #map {
            @include absolute-full;

            position: absolute !important;
          }

          .canvas-size-element {
            padding-bottom: 58%;
          }
        }
      }

      .location,
      .hours,
      .contact {
        margin-bottom: 20px;

        h3 {
          color: $primary;
          margin-bottom: 10px;
        }

        .contact-section-copy {
          color: $primary;
          font-size: 14px;
          font-weight: 200;
          line-height: 1.6;
        }

        a {
          color: $wmb-light-blue;
          font-size: 14px;
          font-weight: 200;

          &:hover {
            color: $primary;
          }
        }
      }

      .contact {
        .email-link {
          display: block;
          margin-top: 7px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 52px;

    .contact-outer {
      flex-wrap: nowrap;

      .contact-form-container {
        order: 1;
        flex: 0 0 66%;
        padding: 46px 36px 59px;

        h2 {
          margin-bottom: 96px;
        }

        .wpcf7 {
          form {
            padding: 0 75px;

            .form-group {
              margin-bottom: 19px;

              label {
                font-size: 16px;
              }

              .wpcf7-form-control-wrap {
                .form-control {
                  height: 36px;
                }

                .wpcf7-checkbox {
                  .wpcf7-list-item {
                    margin-right: 25px;

                    &:last-child {
                      margin-right: 0;
                    }

                    input[type=checkbox] {
                      width: 24px;
                      height: 24px;
                      border-radius: 24px;
                    }

                    .wpcf7-list-item-label {
                      font-size: 16px;
                    }
                  }
                }
              }

              .insurance-type-options {
                margin-top: 5px;
              }

              .how-can-we-help {
                textarea {
                  height: 160px;
                  margin-bottom: 28px;
                }
              }
            }
          }
        }
      }

      .contact-info-container {
        order: 2;
        flex: 0 0 34%;
        padding-top: 8px;
        padding-left: 24px;
        margin-bottom: 0;

        .location,
        .hours,
        .contact {
          margin-bottom: 29px;

          .contact-section-copy {
            font-size: 16px;
          }

          a {
            font-size: 16px;
          }
        }
      }
    }
  }
}
