section.about {
  margin-bottom: 30px;

  .about-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1300px;

    .image-container {
      flex: 0 0 75%;
      margin-bottom: 30px;

      img {
        width: 100%;
      }
    }

    .text-container {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 200;
        color: $primary;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        font-weight: 200;
        color: $grey-65;
        margin-bottom: 1.5em;

        em {
          font-weight: normal;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 30px;

    .about-inner {
      flex-wrap: nowrap;

      .image-container {
        flex: 0 0 50%;
        margin-bottom: 0;
      }

      .text-container {
        flex: 0 0 50%;
        padding-top: 0;
        padding-left: 60px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: -40px;

    .about-inner {
      .text-container {
        padding-top: 60px;
        padding-left: 90px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .about-inner {
      .text-container {
        padding-top: 80px;
        padding-left: 100px;
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    margin-bottom: -150px;

    .about-inner {
      .text-container {
        padding-top: 25px;
        padding-left: 134px;
      }
    }
  }

  @include media-breakpoint-up(xxxl) {
    .about-inner {
      .text-container {
        padding-top: 104px;
        padding-left: 134px;
      }
    }
  }
}
