section.team {
  text-align: center;
  background-color: $grey-5;
  padding: 60px 0 0;

  h2 {
    margin-top: 0;
    margin-bottom: 21px;
    font-weight: 200;
    color: $primary;
  }

  .team-intro {
    color: $grey-44;
    font-weight: 200;
    max-width: 844px;
    margin: 0 auto 40px;
  }

  .team-members-outer {
    max-width: 1300px;
    margin: 0 auto;

    .team-members {
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      .team-member {
        flex: 0 0 100%;
        padding: 0;
        margin-bottom: 30px;
        text-align: left;

        img {
          width: 100%;
          margin-bottom: 12px;
        }

        .department {
          text-transform: uppercase;
          color: $grey-58;
          font-weight: bold;
          font-size: 10px;
          margin-bottom: 5px;
        }

        .name {
          font-size: 16px;
          color: $primary;
          line-height: 1.2;
          margin-bottom: 5px;
        }

        .title {
          font-size: 13px;
          color: $primary;
          margin-bottom: 3px;
        }

        .email {
          a {
            color: $wmb-orange;
            font-size: 20px;

            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .team-members-outer {
      .team-members {
        margin: 0 -12px;

        .team-member {
          flex: 0 0 50%;
          padding: 0 12px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .team-members-outer {
      .team-members {
        .team-member {
          flex: 0 0 25%;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 40px 0 0;

    h2 {
      margin-top: 63px;
    }

    .team-intro {
      margin-bottom: 56px;
    }

    .team-members-outer {
      .team-members {
        .team-member {
          flex: 0 0 25%;
          margin-bottom: 51px;

          img {
            margin-bottom: 12px;
          }

          .department {
            font-size: 12px;
            margin-bottom: 7px;
          }

          .name {
            font-size: 20px;
            color: $primary;
            margin-bottom: 7px;
          }

          .title {
            font-size: 16px;
            font-weight: 200;
            color: $primary;
          }

          .email {
            a {
              color: $wmb-orange;
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 150px 0 0;
  }
}
