.associations-partnerships-main {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;

  .associations-partnerships-section {
    border-bottom: solid 1px $grey-16;
    padding-bottom: 9px;
    margin-bottom: 30px;
    overflow: hidden;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }

    h2 {
      font-weight: 200;
      color: $primary;
      margin-bottom: 30px;
    }

    .organization-list {
      @include inline-list;

      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -40px;

      li {
        margin: 0 40px 20px;

        a,
        .image-container {
          display: inline-block;

          img {
            height: 80px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 49px;
    padding-bottom: 40px;

    .associations-partnerships-section {
      padding-bottom: 9px;
      margin-bottom: 42px;

      h2 {
        margin-bottom: 45px;
      }

      .organization-list {
        margin: 0 -75px;

        li {
          margin: 0 75px 20px;

          a,
          .image-container {
            img {
              height: 100px;
            }
          }
        }
      }
    }
  }
}
