section.intro {
  background-color: $wmb-medium-blue;
  color: white;
  text-align: center;
  padding: 50px 0 60px;

  h1 {
    margin-bottom: 20px;
  }

  p {
    font-weight: 200;
  }

  @include media-breakpoint-up(lg) {
    padding: 66px 0 76px;

    h1 {
      margin-bottom: 30px;
    }
  }
}
