section.coverages {
  padding: 31px 0;

  .header-column {
    display: flex;
    justify-content: space-between;

    h1 {
      color: $primary;
      margin-bottom: 9px;
    }
  }

  @import "coverages-filter-sidebar";

  .mobile-filter-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;

    .results-count {
      font-size: 12px;
      font-weight: 200;
      color: $grey-65;
    }

    .show-filter-button {
      height: 30px;
      padding: 0 17px;
      font-size: 12px;
      font-weight: 200;
      text-transform: none;
    }
  }

  // Coverages List
  .coverages-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;

    .coverage {
      flex: 0 0 50%;
      padding: 0 7px;
      margin: 0 0 42px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .thumbnail-image {
        @include image-cover(60%);

        width: 100%;
        margin-bottom: 5px;
      }

      .category {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: $grey-58;
        margin-bottom: 3px;
      }

      .name {
        color: $primary;
        margin-top: 0;
        margin-bottom: 7px;
      }

      .description {
        color: $grey-65;
        font-weight: 200;
        margin-top: 0;
        margin-bottom: auto;
      }

      button {
        margin-top: 15px;
        margin-right: auto;
        height: 30px;
        padding: 0 23px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-top: 62px;

    .header-column {
      margin-bottom: 60px;

      h1 {
        margin-bottom: 0;
      }
    }

    .coverages-list {
      margin-right: -12px;
      margin-left: -12px;

      .coverage {
        // flex: 0 0 50%;
        padding: 0 12px;
        margin: 0 0 53px;

        .thumbnail-image {
          margin-bottom: 9px;
        }

        .category {
          font-size: 12px;
          margin-bottom: 14px;
        }

        .name {
          font-size: 20px;
          margin-bottom: 9px;
        }

        .description {
          color: $primary;
          font-size: 16px;
        }

        button {
          margin-top: 22px;
          height: 36px;
          font-size: 14px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .coverages-list {
      .coverage {
        flex: 0 0 33.3333%;
      }
    }
  }
}
