// Filter Sidebar
.filter-sidebar-column {
  .coverages-filter-sidebar {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    background-color: white;
    color: $primary;
    padding: 22px 14px;
    transition: left $fade-transition-time;

    &.show {
      left: 0;
    }

    .header-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 19px;

      h1 {
        margin-top: 3px;
      }

      .filter-panel-close-button {
        @include unstyled-input;

        .svg-inline--fa {
          font-size: 30px;
          color: $primary;
        }
      }
    }

    .filter-terms-list {
      .parent-category {
        border-bottom: solid 1px $grey-16;
        padding-bottom: 15px;
        margin-bottom: 24px;

        &:last-child {
          // border-bottom: 14px;
          margin-bottom: 14px;
        }

        .parent-category-name {
          font-weight: bold;
          margin-bottom: 19px;
        }

        .sub-categories {
          @include unstyled-list;

          margin: 0;

          .sub-category {
            display: flex;
            margin-bottom: 4px;

            input[type=checkbox] {
              position: relative;
              flex: 0 0 15px;
              -webkit-appearance: none;
              border: solid 1px $primary;
              border-radius: 2px;
              width: 15px;
              height: 15px;
              line-height: 1;

              &:checked {
                &::after {
                  content: "\2715";
                  font-size: 14px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $primary;
                }
              }
            }

            label {
              flex: 1 1 auto;
              margin-left: 10px;
              line-height: 1.15;
            }
          }
        }
      }
    }

    .filter-buttons {
      display: flex;
      justify-content: center;

      button {
        width: 160px;
        height: 40px;
        font-size: 14px;
        text-transform: none;
        padding: 0;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .coverages-filter-sidebar {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      width: auto;
      height: auto;
      z-index: auto;
      overflow-y: auto;
      background: none;
      padding: 22px 0;

      .filter-terms-list {
        .parent-category {
          // padding-bottom: 15px;
          // margin-bottom: 24px;

          &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
          }

          .parent-category-name {
            font-weight: bold;
            margin-bottom: 19px;
          }

          .sub-categories {
            @include unstyled-list;

            margin: 0;

            .sub-category {
              display: flex;
              margin-bottom: 4px;

              input[type=checkbox] {
                position: relative;
                flex: 0 0 15px;
                -webkit-appearance: none;
                border: solid 1px $primary;
                border-radius: 2px;
                width: 15px;
                height: 15px;

                &:checked {
                  &::after {
                    content: "\2715";
                    font-size: 14px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $primary;
                  }
                }
              }

              label {
                flex: 1 1 auto;
                margin-left: 10px;
                line-height: 1.15;
              }
            }
          }
        }
      }
    }
  }
}
