.btn {
  padding: 0 33px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: background-color $text-transition-time, border-color $text-transition-time;

  @include media-breakpoint-up(xl) {
    padding: 0 37px;
    font-size: 16px;
    height: 50px;
  }

  &:disabled {
    background-color: $grey-11 !important;
    border-color: $grey-11 !important;
    color: $grey-33 !important;
  }
}

.btn-white {
  background-color: white;
  color: $grey-65;
  border-color: $grey-58;

  &:hover {
    color: white;
    background-color: $primary;
  }
}

.btn-default {
  background-color: $wmb-orange;
  border-color: $wmb-orange;
  color: white;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: white;
  }
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: white;

  &:hover {
    background-color: $wmb-orange;
    border-color: $wmb-orange;
    color: white;
  }
}
