section.services-offered {
  padding-bottom: 20px;

  hr {
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 200;
    color: $primary;
    margin-bottom: 24px;
  }

  .services-offered-intro {
    font-weight: 200;
    color: $grey-44;
    max-width: 856px;
    margin-bottom: 40px;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0;

    .service {
      flex: 0 0 100%;
      padding: 0;
      margin-bottom: 30px;

      h3 {
        color: $primary;
        margin-bottom: 11px;
      }

      p {
        font-weight: 200;
        color: $primary;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 30px;

    .services {
      margin: 20px -12px 0;

      .service {
        flex: 0 0 50%;
        padding: 0 12px;
        margin-bottom: 30px;

        h3 {
          margin-bottom: 11px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 58px;

    hr {
      margin-bottom: 43px;
    }

    h2 {
      margin-bottom: 20px;
    }

    .services-offered-intro {
      margin-bottom: 40px;
    }

    .services {
      flex-wrap: nowrap;

      .service {
        flex: 0 0 25%;
        margin-bottom: 0;

        h3 {
          margin-bottom: 16px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .services {
      margin: 20px -67px 0;

      .service {
        padding: 0 67px;
      }
    }
  }
}
