section.community-updates {
  padding: 33px 0 40px;
  text-align: left;

  h1 {
    color: $primary;
    margin-bottom: 30px;
    text-align: center;
  }

  .latest-community-update {
    margin-bottom: 28px;

    .article-thumbnail {
      width: 100%;
      margin-bottom: 23px;
    }

    h2 {
      color: $primary;
      margin-bottom: 12px;
    }

    .article-excerpt {
      color: $grey-65;
      font-weight: 200;
      line-height: 1.75;

      a {
        text-decoration: underline;
        color: $wmb-light-blue;

        &:hover {
          color: $wmb-orange;
        }

        &.moretag {
          font-weight: bold;
        }
      }
    }
  }

  .view-all-updates {
    height: 36px;
    border-radius: 36px;
  }

  @include media-breakpoint-up(lg) {
    padding: 42px 0 120px;
    text-align: center;

    h1 {
      margin-bottom: 44px;
    }

    .latest-community-update {
      margin: 0 auto 69px;
      max-width: 1076px;
      text-align: left;

      .article-thumbnail {
        margin-bottom: 26px;
      }

      h2 {
        margin-bottom: 17px;
      }

      .article-excerpt {
        font-size: 16px;
        line-height: 2;
      }
    }

    .view-all-updates {
      height: 50px;
      border-radius: 50px;
      font-size: 16px;
    }
  }
}
