section.hero {
  position: relative;

  .hero-content {
    font-style: italic;
    color: white;
  }

  .slider-outer {
    @include slider-dots(#fff, $primary);

    position: relative;

    .home-hero-slider {
      margin: 0;

      .hero-image {
        @include image-cover(60%);
      }
    }

    .slick-dots {
      position: absolute;
      bottom: 16px;
    }
  }

  @include media-breakpoint-down(sm) {
    .hero-content {
      background-color: $wmb-medium-blue;
      color: white;
      padding: 20px;
      text-align: center;
      font-size: 16px;
    }
  }

  @include media-breakpoint-up(md) {
    display: block;

    .hero-content {
      position: absolute;
      z-index: 500;
      left: 100px;
      top: 50%;
      transform: translateY(-50%);
      width: 320px;
      font-size: 30px;
    }
  }

  @include media-breakpoint-up(lg) {
    display: block;

    .hero-content {
      width: 400px;
      font-size: 44px;
    }
  }

  @include media-breakpoint-up(xl) {
    .hero-content {
      top: 40%;
    }

    .slider-outer {
      .home-hero-slider {
        .hero-image {
          .image-size-element {
            padding-bottom: 40%;
          }
        }
      }

      .slick-dots {
        bottom: 38px;
      }
    }
  }
}
