footer {
  .footer-upper {
    background-color: $primary;
    color: $grey-33;
    padding: 39px 0 6px;
    font-size: 12px;

    a {
      color: $grey-33;

      &:hover {
        color: white;
      }
    }

    .footer-columns {
      display: flex;
      flex-wrap: wrap;

      .footer-column {
        // flex: 0 0 20%;
        flex: 0 0 100%;
        margin-bottom: 25px;

        .column-title {
          color: white;
          text-transform: uppercase;
          font-size: 14px;
          margin-bottom: 6px;
        }

        .nav {
          .menu-item {
            flex: 0 0 100%;
            margin-bottom: 6px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        .address {
          margin-top: -2px;
          margin-bottom: 10px;
          line-height: 2;
        }

        .email-address {
          display: block;
          margin-top: 9px;
        }

        .social-links {
          @include inline-list;

          margin: 0;

          li {
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }

            a {
              font-size: 20px;
            }
          }
        }

        .partner-companies {
          @include inline-list;

          li {
            margin-right: 64px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  .footer-lower {
    background-color: $wmb-dark-blue;
    color: $grey-33;
    font-size: 10px;
    padding-top: 13px;
    padding-bottom: 12px;

    .divider {
      margin: 0 5px;
    }

    a {
      color: $grey-33;

      &:hover {
        color: white;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .footer-upper {
      .footer-columns {
        flex-wrap: nowrap;

        .footer-column {
          flex: 0 0 20%;
          margin-bottom: 0;

          .social-links {
            li {
              margin-right: 12px;
            }
          }

          .partner-companies {
            flex-wrap: wrap;

            li {
              flex: 0 0 100%;
              margin-right: 0;
              margin-bottom: 30px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .footer-upper {
      padding: 43px 0 36px;

      .footer-columns {
        .footer-column {
          .column-title {
            font-size: 18px;
            margin-bottom: 18px;
          }

          .nav {
            .menu-item {
              margin-bottom: 6px;
            }
          }

          .address {
            margin-top: -2px;
            margin-bottom: 15px;
            line-height: 2;
          }

          .contact-info {
            line-height: 2;
          }

          .email-address {
            margin-top: 12px;
          }
        }
      }
    }

    .footer-lower {
      font-size: 12px;
      padding-top: 19px;
      padding-bottom: 16px;
    }
  }
}
