header.banner {
  background-color: $primary;
  position: fixed;
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 900;

  a.brand {
    display: none;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: white;

    .logo-horizontal {
      width: 180px;
    }

    .logo-small {
      display: none;
      width: 72px;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .secondary-nav-container {
    background-color: $wmb-dark-blue;
    color: white;
    width: 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdown.my-wmb {
      display: flex;
      width: 100%;
      padding-top: 13px;
      padding-bottom: 15px;

      .my-wmb-dropdown-button {
        @include unstyled-input;

        color: white;
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .my-wmb-info {
          i,
          .svg-inline--fa {
            display: none;
          }

          .my-wmb-divider {
            display: none;
          }
        }

        .open-close-info {
          margin-left: auto;
          margin-right: 0.5em;

          .open-closed {
            font-weight: bold;

            &.open {
              color: $wmb-green;
            }

            &.closed {
              color: $wmb-orange;
            }
          }
        }
      }

      @import "../partials/global/my-wmb-dropdown";
    }

    .navbar-search-container {
      color: white;
      font-size: 14px;
      margin-left: 30px;
      margin-right: auto;

      .input-group {
        input {
          background: none;
          color: white;
          font-weight: bold;
          border-right: 0;
          border-color: white !important;

          &::placeholder {
            color: white;
          }

          // &:focus {
          //   border-color: white;
          // }
        }

        .input-group-append {
          button {
            background-color: $primary;
            color: white;
            border-left: 0;
            border-color: white !important;

            i,
            .svg-inline--fa {
              font-size: 20px;
            }
          }
        }
      }
    }

    .nav-secondary {
      .menu-secondary-menu-container {
        display: flex;

        #menu-secondary-menu {
          .menu-item {
            margin-right: 30px;
            display: flex;

            a {
              color: white;
              font-size: 14px;
              margin: auto 0;

              &:hover {
                color: $wmb-light-blue;
                text-decoration: none;
              }
            }

            &.current-page-item {
              border-bottom: solid 2px white;
            }
          }
        }
      }

      .user-login {
        .menu-item {
          display: flex;

          a {
            color: white;
            font-size: 14px;
            margin: auto 0;

            i,
            .svg-inline--fa {
              font-size: 20px;
              margin-right: 8px;
              transition: inherit;
            }

            &:hover {
              color: $wmb-light-blue;
              text-decoration: none;

              i,
              .svg-inline--fa {
                color: $wmb-light-blue;
              }
            }
          }
        }
      }
    }

    // .secondary-nav-container breakpoints
    @include media-breakpoint-up(lg) {
      width: 85%;
      height: 54px;
      padding-left: 24px;
      padding-right: 25px;

      .dropdown.my-wmb {
        width: auto;

        .my-wmb-dropdown-button {
          width: auto;
          justify-content: flex-start;
          font-size: 14px;

          .my-wmb-info {
            i,
            .svg-inline--fa {
              display: inline-block;
              font-size: 20px;
              margin-bottom: -2px;
              margin-right: 10px;
            }

            .my-wmb-divider {
              display: inline;
              margin: 0 0.4em;
            }
          }

          .open-close-info {
            margin-left: 0;
            margin-right: 0.5em;
          }
        }
      }

      .nav-secondary {
        display: flex;
      }
    }

    @include media-breakpoint-up(xl) {
      width: 80%;
    }
  }

  .primary-nav-container {
    padding-top: 65px;
    padding-bottom: 20px;
    transition: padding-top 0.25s;

    .primary-nav-panel {
      .nav-primary {
        .menu-main-menu-container {
          #menu-main-menu {
            .menu-item {
              a {
                color: white;

                &:hover {
                  color: $wmb-light-blue;
                  text-decoration: none;
                }
              }

              &.current_page_item {
                border-bottom: solid 2px white;
              }
            }
          }
        }
      }

      .nav-primary-right {
        .menu-main-menu-right-container {
          #menu-main-menu-right {
            .menu-item {
              a {
                color: white;

                &:hover {
                  color: $wmb-light-blue;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }

    // .primary-nav-container breakpoints
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: space-between;
      padding-top: 13px;
      padding-bottom: 13px;

      .brand-mobile {
        .logo-small {
          width: 44px;
          height: 44px;
        }
      }

      .navbar-search-container-mobile {
        color: white;
        font-size: 14px;
        // margin-left: 30px;
        // margin-right: auto;

        .input-group {
          input {
            background: none;
            color: white;
            font-weight: bold;
            border-right: 0;
            border-color: white !important;

            &::placeholder {
              color: white;
            }

            // &:focus {
            //   border-color: white;
            // }
          }

          .input-group-append {
            button {
              background-color: $primary;
              color: white;
              border-left: 0;
              border-color: white !important;

              i,
              .svg-inline--fa {
                font-size: 20px;
              }
            }
          }
        }
      }

      .nav-open-button {
        @include unstyled-input;

        .nav-open-icon {
          width: 36px;
          height: 20px;
        }
      }

      .primary-nav-panel {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 335px;
        background-color: $primary;
        transition: right 0.25s;
        padding-top: 85px;
        overflow-y: auto;

        &.show {
          right: 0;
        }

        .nav-close-button {
          @include unstyled-input;

          position: absolute;
          right: 14px;
          top: 22px;

          i,
          .svg-inline--fa {
            color: white;
            font-size: 30px;
          }
        }

        .nav-primary,
        .nav-primary-right {
          display: block;
          width: 100%;
          padding-left: 53px;
        }

        .nav-primary {
          .menu-main-menu-container {
            #menu-main-menu {
              .menu-item {
                flex: 0 0 100%;
                margin-bottom: 24px;

                a {
                  font-size: 22px;
                  font-weight: 200;
                }
              }
            }
          }
        }

        .nav-primary-right {
          .menu-main-menu-right-container {
            #menu-main-menu-right {
              .menu-item {
                margin-bottom: 24px;

                a {
                  font-size: 22px;
                  font-weight: 200;
                }
              }
            }
          }
        }

        .nav-secondary {
          background-color: $wmb-dark-blue;
          flex-wrap: wrap;
          padding: 21px 0 24px 53px;

          .menu-secondary-menu-container {
            flex: 0 0 100%;

            #menu-secondary-menu-1 {
              .menu-item {
                margin-bottom: 26px;

                a {
                  color: white;
                  font-size: 16px;
                  font-weight: 200;
                }
              }
            }
          }

          .user-login {
            flex: 0 0 100%;

            .menu-item {
              a {
                color: white;
                font-size: 16px;
                font-weight: 200;

                i,
                .svg-inline--fa {
                  font-size: 20px;
                  margin-right: 8px;
                }
              }
            }
          }
        }

        .social-links {
          @include inline-list;

          padding: 40px 0 40px 53px;

          li {
            margin-right: 20px;

            a {
              i,
              .svg-inline--fa {
                font-size: 20px;
                color: $grey-33;
              }
            }
          }
        }

        .hr-outer {
          padding-left: 53px;

          hr {
            border-top: solid 1px #20496B;
            margin-bottom: 26px;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      .primary-nav-panel {
        display: flex;
        justify-content: space-between;

        .nav-primary {
          margin-left: 100px;
          flex: 0 0 auto;

          .menu-main-menu-container {
            #menu-main-menu {
              .menu-item {
                margin-right: 40px;

                a {
                  font-size: 16px;
                }
              }
            }
          }
        }

        .nav-primary-right {
          flex: 0 0 auto;

          .menu-main-menu-right-container {
            #menu-main-menu-right {
              display: inline-flex;

              .menu-item {
                a {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  // Compact version of navbar
  &.compact {
    @include media-breakpoint-up(lg) {
      .brand {
        .logo-horizontal {
          display: none;
        }

        .logo-small {
          display: block;
        }
      }

      .primary-nav-container {
        padding-top: 23px;
      }
    }
  }
}

// .banner .nav li {
//   @extend .nav-item;
// }
//
// .banner .nav a {
//   @extend .nav-link;
// }
