.modal.change-location {
  .modal-dialog {
    max-width: 800px;
    margin: 0;

    .modal-content {
      .modal-header {
        border-bottom: solid 1px $grey-33;
        padding: 21px 14px 18px;

        h1 {
          color: $primary;
        }

        button {
          i,
          .svg-inline--fa {
            font-size: 30px;
          }
        }
      }

      .modal-body {
        padding: 0;

        .change-location-list {
          .location-option {
            border-bottom: solid 1px $grey-33;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 14px 0;

            .location-info {
              flex: 0 1 auto;
              padding: 0 14px;

              .location-name {
                font-size: 14px;
                font-weight: bold;
                color: $primary;
              }

              p {
                font-size: 14px;
                font-weight: 200;
                color: $grey-65;
                margin: 0;
              }
            }

            .button-container {
              flex: 0 0 80px;
              padding: 0 14px;

              button {
                font-size: 12px;
                width: 80px;
                height: 30px;
                text-transform: none;
              }

              @include media-breakpoint-up(lg) {
                flex: 0 0 176px;

                button {
                  font-size: 16px;
                  width: 176px;
                  height: 50px;
                  border-radius: 50px;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .modal-dialog {
      margin: 1.75rem auto;

      .modal-content {
        .modal-header {
          padding: 30px 40px 20px;
        }

        .modal-body {
          .change-location-list {
            .location-option {
              padding-top: 16px;
              padding-bottom: 16px;

              .location-info {
                padding-left: 40px;
              }

              .button-container {
                padding-right: 40px;
              }
            }
          }
        }
      }
    }
  }
}
