@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

@font-face {
  font-family: "Helvetica Neue";
  src: url("/app/themes/wmbeck/resources/assets/fonts/HelveticaNeueLTStd-Md.eot");
  src:
    url("/app/themes/wmbeck/resources/assets/fonts/HelveticaNeueLTStd-Md.eot?#iefix") format("embedded-opentype"),
    url("/app/themes/wmbeck/resources/assets/fonts/HelveticaNeueLTStd-Md.woff") format("woff"),
    url("/app/themes/wmbeck/resources/assets/fonts/HelveticaNeueLTStd-Md.ttf") format("truetype"),
    url("/app/themes/wmbeck/resources/assets/fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md") format("svg");
  font-weight: normal;
  font-style: normal;
}

$roboto: "Roboto", sans-serif;
$helvetica: "Helvetica Neue", helvetica, arial, sans-serif;
