body,
html {
  height: 100%;
}

body {
  padding-top: 116px;

  @include media-breakpoint-up(lg) {
    padding-top: 160px;
  }
}

a {
  transition: color $text-transition-time;
}

hr {
  margin: 0;
  border-top: solid 1px $hairline-grey;
}

.modal {
  .modal-dialog {
    .modal-content {
      border-radius: 0;
    }
  }
}

// 14px GUTTER WIDTH ON XS
@media (max-width: map-get($grid-breakpoints, sm)) {
  .container,
  .container-fluid {
    padding-left: 14px;
    padding-right: 14px;
  }

  .row:not(.no-gutters) {
    margin-right: -14px;
    margin-left: -14px;
  }

  .row:not(.no-gutters) > .col,
  .row:not(.no-gutters) > [class*="col-"] {
    padding-right: 14px;
    padding-left: 14px;
  }
}

.slick-slider {
  overflow: hidden;
}
