@mixin image-cover($aspect-ratio) {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .image-size-element {
    padding-bottom: $aspect-ratio;
  }
}

@mixin absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@mixin inline-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

@mixin unstyled-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  // li {}
}

@mixin unstyled-input {
  -webkit-appearance: none;
  background: none;
  border: 0;
  padding: 0;
  box-shadow: none;
  outline: none;
}

@mixin slider-dots($slider-dot-colour, $slider-dot-hover-color) {
  .slick-dots {
    display: flex;
    justify-content: center;

    li {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 7px;

      button {
        @include unstyled-input;

        width: 10px;
        height: 10px;
        background-color: $slider-dot-colour;
        border-radius: 10px;
        transition: background-color $text-transition-time;

        &::before {
          display: none !important;
        }

        &:hover {
          background-color: $slider-dot-hover-color;
        }
      }

      &.slick-active {
        border: solid 1px $slider-dot-colour;
      }
    }
  }
}

@mixin slider-arrow($background, $color, $hover-background, $hover-color) {
  .wmb-slider-controls {
    button {
      width: 48px;
      height: 48px;
      border: 0;
      border-radius: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background;
      transition: background-color $text-transition-time;

      i,
      .svg-inline--fa {
        color: $color;
        font-size: 16px;
        transition: color $text-transition-time;
      }

      &:hover {
        background-color: $hover-background;

        i,
        .svg-inline--fa {
          color: $hover-color;
        }
      }
    }
  }
}

// @mixin box-shadow {
//   -webkit-box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.12);
//   box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.12);
// }
