body,
html {
  font-family: $roboto;
  font-size: 14px;
}

h1 {
  font-weight: 200;
  font-size: 22px;

  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }
}

h2 {
  font-weight: 500;
  font-size: 16px;

  @include media-breakpoint-up(lg) {
    font-size: 24px;
  }
}

h3 {
  font-weight: 500;
  font-size: 16px;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

h4 {
  font-size: 12px;
  text-transform: uppercase;
}

p {
  margin: 0;
}

.body-copy {
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.large-copy {
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}
