/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// $theme-colors: (
//   primary: #525ddc
// );

$wmb-blue: #003B5C;
$wmb-medium-blue: #0B4A6E;
$wmb-dark-blue: #002B43;
$wmb-green: #5C9B06;
$wmb-orange: #FF6908;
$wmb-light-blue: #189DE8;

$grey-5: #F2F2F2;
$grey-11: #E2E2E2;
$grey-16: #D5D5D5;
$grey-33: #ACACAC;
$grey-44: #707070;
$grey-58: #959595;
$grey-65: #595959;

$primary: $wmb-blue;
$hairline-grey: $grey-16;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Other variables
$fade-transition-time: 0.35s;
$text-transition-time: 0.25s;
// $grid-gutter-width:    30px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1520px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1090px,
  xxl: 1095px,
  xxxl: 1450px
);

// $font-size-base:     1.125rem;
// $border-radius:      8px;
// $input-border-radius: 4px;
