section.common-bonds {
  hr {
    margin-bottom: 30px;
  }

  h2 {
    font-weight: 200;
    color: $primary;
    margin-bottom: 24px;
  }

  .common-bonds-intro {
    font-weight: 200;
    color: $grey-44;
    max-width: 856px;
    margin-bottom: 60px;
  }

  .bond-types {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0;

    .bond-type {
      flex: 0 0 100%;
      padding: 0;
      margin-bottom: 30px;

      h3 {
        color: $primary;
        margin-bottom: 11px;
      }

      p {
        font-weight: 200;
        color: $grey-44;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .common-bonds-intro {
      margin-bottom: 40px;
    }

    .bond-types {
      margin: 20px -12px 20px;

      .bond-type {
        flex: 0 0 50%;
        padding: 0 12px;
        margin-bottom: 30px;

        h3 {
          margin-bottom: 11px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    hr {
      margin-bottom: 62px;
    }

    h2 {
      margin-bottom: 32px;
    }

    .common-bonds-intro {
      margin-bottom: 60px;
    }

    .bond-types {
      .bond-type {
        flex: 0 0 33%;
        margin-bottom: 60px;

        h3 {
          margin-bottom: 11px;
        }
      }
    }
  }
}
