<!--
  This is the contact form HTML markup. This file
  is not actually used on the site. The actual form is
  built in Contact Form 7, based on this markup.
-->
<form class="" action="index.html" method="post">
  <!-- First Name -->
  <div class="form-group">
    <label for="firstName">First Name*</label>
    <input type="text" class="form-control" id="firstName" required>
  </div>
  <!-- Last Name -->
  <div class="form-group">
    <label for="lastName">Last Name*</label>
    <input type="text" class="form-control" id="lastName" required>
  </div>
  <!-- Email -->
  <div class="form-group">
    <label for="email">Email*</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  <!-- Phone -->
  <div class="form-group">
    <label for="phone">Phone*</label>
    <input type="tel" class="form-control" id="phone" required>
  </div>
  <!-- Insurance Type -->
  <div class="form-group">
    <label>Insurance Type (Select all that apply)</label>
    <div class="insurance-type-options">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="insuranceTypeCommercial" name="insuranceType" value="Commercial">
        <label class="form-check-label" for="insuranceTypeCommercial">Commercial</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="insuranceTypePersonal" name="insuranceType" value="Personal">
        <label class="form-check-label" for="insuranceTypePersonal">Personal</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="insuranceTypeSuretyBonds" name="insuranceType" value="Surety Bonds">
        <label class="form-check-label" for="insuranceTypeSuretyBonds">Surety Bonds</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="insuranceTypeWBIHomeInsurance" name="insuranceType" value="WBI Home Insurance">
        <label class="form-check-label" for="insuranceTypeWBIHomeInsurance">WBI Home Insurance</label>
      </div>
    </div>
  </div>
  <!-- Your WMB Branch -->
  <div class="form-group">
    <label for="yourBranch">Your WMB Branch*</label>
    <select class="custom-select" id="yourBranch" required>
      <option>Select which WMB branch to contact</option>
    </select>
  </div>
  <!-- How can we help? -->
  <div class="form-group">
    <label for="howCanWeHelp">How can we help?</label>
    <textarea class="form-control" id="howCanWeHelp" rows="3"></textarea>
  </div>
  <button class="btn btn-default" type="submit" name="contactFormSubmit">Submit</button>
</form>

<!--
  This is the contact form template,
  as used in Contact Form 7
-->
<div class="form-group">
  <label for="firstName">First Name*</label>
  [text* first-name class:form-control id:firstName]
</div>

<div class="form-group">
  <label for="lastName">Last Name*</label>
  [text* last-name class:form-control id:lastName]
</div>

<div class="form-group">
  <label for="email">Email*</label>
  [email* email class:form-control id:email]
</div>

<div class="form-group">
  <label for="phone">Phone*</label>
  [tel* phone class:form-control id:phone]
</div>

<div class="form-group">
  <label>Insurance Type (Select all that apply)</label>
  <div class="insurance-type-options">
    [checkbox insurance-type "Commercial" "Personal" "Surety Bonds" "WBI Home Insurance"]
  </div>
</div>

<div class="form-group">
  <label for="yourBranch">Your WMB Branch*</label>
  [select* your-branch id:yourBranch class:custom-select first_as_label "Select which WMB branch to contact"]
</div>

<div class="form-group">
  <label for="howCanWeHelp">How can we help?</label>
  [textarea how-can-we-help class:form-control id:howCanWeHelp]
</div>

[submit class:btn class:btn-default "Submit"]
