<template>
  <div class="coverages-list">
    <div class="coverage" v-for="coverage in coverages" :key="coverage.id">
      <div class="thumbnail-image" :style="{ backgroundImage: getCoverageThumbnailStyle(coverage) }">
        <div class="image-size-element"></div>
      </div>
      <div class="category" v-html="coverage.category_string"></div>
      <div class="name" v-html="coverage.name"></div>
      <div class="description" v-html="coverage.short_description"></div>
      <button type="button" name="button" class="btn btn-default" v-html="getCoverageButtonLabel(coverage)" @click="onCoverageButtonClick(coverage)"></button>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    coverages: Array
  },
  data: function() {
    return {}
  },
  computed: {},
  created: function() {},
  mounted: function() {},
  beforeDestroy: function() {},
  methods: {
    getCoverageThumbnailStyle: function(coverage) {
      return 'url(' + coverage.thumbnail + ')'
    },
    getCoverageButtonLabel: function(coverage) {
      let buttonLabel = ( coverage.action == 'login' ) ? 'Login' : 'Request Quote';
      return buttonLabel
    },
    onCoverageButtonClick: function(coverage) {
      if ( coverage.action == 'login' ) {
        if ( coverage.login_page )
          window.location.href = coverage.login_page
      } else {
        return false
      }
    }
  },
}
</script>
