<template>
  <div class="coverages-filter-sidebar">
    <div class="header-row d-lg-none">
      <h1>Filter</h1>
      <button class="filter-panel-close-button" type="button" name="button" @click="$emit('close-filter-panel')">
        <font-awesome-icon :icon="['far', 'times-circle']"></font-awesome-icon>
      </button>
    </div>
    <div class="filter-terms-list">
      <div class="parent-category" v-for="parentTerm in coverageTerms" :key="parentTerm.term_id">
        <div class="parent-category-name" v-html="parentTerm.name"></div>
        <ul class="sub-categories">
          <li class="sub-category" v-for="term in parentTerm.child_terms" :key="term.term_id">
            <input
              type="checkbox"
              :id="term.term_slug"
              :value="term.term_id"
              :checked="checkboxIsChecked(term)"
              @change="$emit('update:checkedTerms', updateCheckedTerms(term))"
            >
            <label :for="term.term_slug" v-html="getTermLabel(term)"></label>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter-buttons d-lg-none">
      <button type="button" name="clear-filter-button" class="btn btn-white" @click="$emit('clear-filter')">Clear Filter</button>
      <button type="button" name="apply-filter-button" class="btn btn-default" @click="$emit('close-filter-panel')">Apply Filter</button>
    </div>
  </div>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core'
import { faTimesCircle } from '@fortawesome/free-regular-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add(faTimesCircle)

export default {
  components: {
    'font-awesome-icon': FontAwesomeIcon
  },
  props: {
    coverageTerms: Array,
    checkedTerms: Array
  },
  data: function() {
    return {}
  },
  computed: {
    // computedPropertyName: function() {
    //   return some_value
    // }
  },
  created: function() {},
  mounted: function() {},
  beforeDestroy: function() {},
  methods: {
    getTermLabel: function(term) {
      return term.name + ' (' + term.count + ')'
    },
    checkboxIsChecked: function(term) {
      return this.checkedTerms.includes(term.term_id)
    },
    updateCheckedTerms: function(term) {
      let newCheckedTerms = []
      if ( this.checkedTerms.includes(term.term_id) ) {
        newCheckedTerms = this.checkedTerms.filter( function(e) {
          return e !== term.term_id
        } )
      } else {
        newCheckedTerms = this.checkedTerms
        newCheckedTerms.push(term.term_id)
      }
      return newCheckedTerms
    }
  },
}
</script>
