section.cta-section {
  background-color: $grey-5;
  text-align: center;
  padding: 42px 0 40px;

  h1 {
    color: $primary;
    max-width: 60%;
    margin: 0 auto 24px;
  }

  .copy {
    color: $grey-65;
    margin-bottom: 28px;
  }

  .buttons {
    a {
      height: 40px;
      font-size: 14px;
      padding: 0 70px;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    h1 {
      max-width: none;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 53px 0 60px;

    .cta-container {
      max-width: 883px;
      margin: 0 auto;
    }

    h1 {
      margin-bottom: 31px;
    }

    .copy {
      font-size: 20px;
      line-height: 2;
      margin-bottom: 28px;
    }

    .buttons {
      a {
        height: 50px;
        border-radius: 50px;
        font-size: 16px;
        padding: 0 64px;
        margin: 0 12px;
      }
    }
  }
}
