section.hero {
  @include image-cover(30%);

  position: relative;

  .hero-content {
    position: absolute;
    left: 200px;
    top: 25%;
    width: 400px;
    font-size: 44px;
    font-style: italic;
    color: white;
  }

  .logo-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    max-width: 464px;

    img {
      width: 100%;
    }
  }

  // Add a dark screen over the hero image if .logo-image is included
  &.screen {
    .image-size-element {
      background-color: $primary;
      opacity: 0.6;
    }
  }

  @include media-breakpoint-up(xl) {
    .image-size-element {
      padding-bottom: 40%;
    }
  }
}
