section.intro {
  padding: 35px 0;
  text-align: center;

  h1 {
    color: $primary;
    margin-bottom: 10px;
  }

  .intro-copy {
    margin-bottom: 27px;

    p {
      color: $grey-65;
      font-weight: 200;

      a {
        color: $wmb-light-blue;
      }
    }
  }

  .buttons {
    @include unstyled-list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 0 0 100%;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        width: 174px;
        height: 36px;
        padding: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .buttons {
      li {
        flex: 0 0 auto;
        margin: 0 24px 0 0;

        &:last-child {
          margin-right: 0;
        }

        a {
          width: 197px;
          height: 50px;
          font-size: 14px;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 63px 0 60px;

    h1 {
      margin-bottom: 18px;
    }

    .intro-copy {
      max-width: 856px;
      margin: 0 auto 37px;

      p {
        font-size: 20px;
      }
    }
  }
}
