.dropdown-menu.my-wmb {
  background-color: $wmb-dark-blue;
  color: white;
  font-size: 14px;
  border: 0;
  border-radius: 0;

  &.show {
    position: absolute;
    top: auto !important;
    bottom: 0;
    left: -14px !important;
    right: -14px !important;
    width: auto;
    transform: translateY(100%) !important;

    @include media-breakpoint-up(lg) {
      width: 526px;
      left: -24px !important;
    }
  }

  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: white;
      font-size: 21px;
      margin: 0;
    }

    .close-mobile {
      @include unstyled-input;

      i,
      .svg-inline--fa {
        color: white;
        font-size: 30px;
      }
    }
  }

  .dropdown-divider {
    border-top: solid 1px $primary;
  }

  .dropdown-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.25rem 1.5rem;

    i,
    .svg-inline--fa {
      margin-right: 6px;
    }

    @include media-breakpoint-up(lg) {
      padding: 9px 24px;

      i,
      .svg-inline--fa {
        font-size: 20px;
        margin-right: 13px;
      }
    }
  }

  a {
    color: $wmb-light-blue;
  }

  .change-location-link-mobile {
    display: block;
    width: 100%;
    text-align: center;
    padding: 34px;
  }
}
