.popular-coverages {
  text-align: center;
  background-color: $wmb-medium-blue;
  color: white;
  padding: 33px 0;
  overflow: hidden;

  h1 {
    max-width: 200px;
    margin: 0 auto 25px;
  }

  .slider-outer {
    @include slider-arrow($primary, white, $grey-5, $primary);

    .wmb-slider-controls {
      display: none;
    }

    .popular-coverages-slider {
      @include slider-dots(#fff, $primary);

      padding-bottom: 60px;
      margin-bottom: 33px;

      .slick-list {
        .slick-track {
          display: flex;

          .coverage-item {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // padding: 0 25px;
            padding: 0;
            height: inherit;

            .thumbnail-image {
              @include image-cover(64%);

              margin-bottom: 6px;
            }

            .coverage-category {
              color: $grey-58;
              margin-bottom: 4px;
            }

            .coverage-name {
              margin-bottom: 3px;
            }

            p {
              margin-top: 0;
              margin-bottom: auto;
              font-weight: 200;
            }

            .more-button {
              margin-top: 7px;
              margin-right: auto;
              padding: 0 23px;
              width: auto;
              height: 30px;
              font-size: 12px;
            }
          }
        }
      }

      .slick-dots {
        bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(md) {
    h1 {
      max-width: none;
    }

    .slider-outer {
      position: relative;
      margin-left: -12px;
      margin-right: -12px;

      .wmb-slider-controls {
        display: block;
        position: absolute;
        top: 50%;

        &.prev {
          left: -48px;
        }

        &.next {
          right: -48px;
        }
      }

      .popular-coverages-slider {
        .slick-list {
          .slick-track {
            .coverage-item {
              padding: 0 12px;

              .thumbnail-image {
                .image-size-element {
                  padding-bottom: 60%;
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 63px 0 60px;

    h1 {
      margin-bottom: 40px;
    }

    .slider-outer {
      .popular-coverages-slider {
        padding-bottom: 45px;
        margin-bottom: 52px;

        .slick-list {
          .slick-track {
            .coverage-item {
              .thumbnail-image {
                margin-bottom: 14px;

                .image-size-element {
                  padding-bottom: 60%;
                }
              }

              .coverage-category {
                margin-bottom: 13px;
              }

              .coverage-name {
                margin-bottom: 11px;
              }

              p {
                font-size: 16px;
              }

              .more-button {
                margin-top: 22px;
                padding: 0 26px;
                height: 36px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
