section.testimonials {
  text-align: center;
  margin: 33px 0 0;
  overflow: hidden;

  h1 {
    color: $primary;
    margin-bottom: 30px;
  }

  .slider-outer {
    @include slider-arrow($grey-5, $primary, $primary, white);

    position: relative;

    .wmb-slider-controls {
      display: block;
      position: absolute;
      z-index: 200;
      top: 50%;

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }

    .testimonials-slider {
      @include slider-dots($grey-58, $primary);

      padding-bottom: 38px;
      margin-bottom: 29px;

      .slick-list {
        .slick-track {
          .testimonial {
            margin: 0 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 160px;
              margin-bottom: 40px;
            }

            p {
              font-weight: 200;
              font-style: italic;
              font-size: 14px;
              color: $grey-65;
              line-height: 1.7;
              margin-bottom: 22px;
            }

            .attribution {
              color: $grey-58;
              font-size: 12px;
              text-transform: uppercase;
            }
          }
        }
      }

      .slick-dots {
        bottom: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin: 63px 0 0;

    h1 {
      margin-bottom: 65px;
    }

    .slider-outer {
      .wmb-slider-controls {
        &.prev {
          left: -20px;
        }

        &.next {
          right: -20px;
        }
      }

      .testimonials-slider {
        padding-bottom: 58px;
        margin-bottom: 53px;

        .slick-list {
          .slick-track {
            .testimonial {
              // margin: 0 30px;
              //
              img {
                margin-bottom: 39px;
              }

              p {
                max-width: 856px;
                font-size: 20px;
                line-height: 1.5;
                margin: 0 auto 27px;
              }
              //
              // .attribution {
              //   font-size: 12px;
              // }
            }
          }
        }
      }
    }
  }
}
